<!-- test grid drag and drop -->
<div class="console-schedular">
  <div class="schedular-filters">
    <div class="vehicle-type">
      <select class="select full">
        <option>Select Vehicle Type</option>
        <option>SUV</option>
        <option>SEDAN</option>
      </select>
    </div><!-- Vehicle Type -->

    <div class="date-changer">
      <a class="custom-btn prevDate" href="#" title=""><i class="fa fa-chevron-left"></i></a>
      <input type="text" class="new-datepicker" />
      <a class="custom-btn nextDate" href="#" title=""><i class="fa fa-chevron-right"></i></a>
    </div><!-- Date Picker -->
  </div> <!-- Schedular Filters -->

  <div class="schedular-body">
    <div class="vehicles-info">
      <h3>Vehicle Information</h3>

      <div class="car">
        <div class="car-top"> <span>PLA 9876 : 2018</span> <i>22H</i> </div>
        <div class="car-bottom">
          <h5>BMW M SERIES</h5> <i>Car 123</i>
        </div>
      </div><!-- Car -->

      <div class="car">
        <div class="car-top"> <span>NY 614: 2018</span> <i>30H</i> </div>
        <div class="car-bottom">
          <h5>BMW X1</h5> <i>Car 678</i>
        </div>
      </div><!-- Car -->

      <div class="car">
        <div class="car-top"> <span>T76768 : 2015</span> <i>42H</i> </div>
        <div class="car-bottom">
          <h5>BMW i8</h5> <i>Car 987</i>
        </div>
      </div><!-- Car -->
    </div><!-- Vehicle Information -->

    <div class="main-schedular">
    <div class="grids">
      <div class="grids-head">
        <div class="timeslot"> 12:00 AM </div>
        <div class="timeslot"> 12:30 AM </div>
        <div class="timeslot"> 01:00 AM </div>
        <div class="timeslot"> 01:30 AM </div>
        <div class="timeslot"> 02:00 AM </div>
        <div class="timeslot"> 02:30 AM </div>
        <div class="timeslot"> 03:00 AM </div>
        <div class="timeslot"> 03:30 AM </div>
        <div class="timeslot"> 04:00 AM </div>
        <div class="timeslot"> 04:30 AM </div>
        <div class="timeslot"> 05:00 AM </div>
        <div class="timeslot"> 05:30 AM </div>
        <div class="timeslot"> 06:00 AM </div>
        <div class="timeslot"> 06:30 AM </div>
        <div class="timeslot"> 07:00 AM </div>
        <div class="timeslot"> 07:30 AM </div>
        <div class="timeslot"> 08:00 AM </div>
        <div class="timeslot"> 08:30 AM </div>
        <div class="timeslot"> 09:00 AM </div>
        <div class="timeslot"> 09:30 AM </div>
        <div class="timeslot"> 10:00 AM </div>
        <div class="timeslot"> 10:30 AM </div>
        <div class="timeslot"> 11:00 AM </div>
        <div class="timeslot"> 11:30 AM </div>
      </div>
      <div class="grids-body">
        <div class="ride resize butNotHere maintenance" style="width: 202px; left: 102px; top: 184px">
          <div class="other-info">
            <i class="ion-settings"></i>
            <span>Maintenance</span>
          </div>
        </div>

        <div class="ride resize butNotHere return" style="width:304px; left: 510px; top:93px;">
          <div class="other-info">
            <i class="ion-arrow-return-left"></i>
            <span>Return To Base</span>
          </div>
        </div>

        <div class="ride resize butNotHere" style="width:304px">
          <div class="passenger-info complete-add scrolly">
            <ul>
              <li><i class="ion-ios-location-outline"></i> Estate of Jane Meriweather C/O Hawaiian Trust Company Honolulu, HI 96801-1234</li>
            </ul>
          </div>
          <div class="passenger-info scrolly">
            <ul>
              <li><i class="ion-android-person"></i> <strong class="pass-name">Mr. John Smith</strong></li>
              <li><i class="ion-ios-telephone-outline"></i> <span class="pass-contact">718-444-665</span></li>
              <li><a class="show-add" href="#" title=""> <i class="ion-ios-location-outline"></i> <span class="pass-loc">Estate of Jane Meriweather C/O Hawaiian Trust Company Honolulu, HI 96801-1234</span></a></li>
            </ul>
          </div>
          <div class="assign-driver">
            <span>Driver Not Assigned</span>
            <a class="custom-btn" data-toggle="modal" data-target="#assign-driver" href="#" title=""><i class="ion-android-person-add"></i> Assign Driver</a>
          </div>
        </div><!-- Ride -->

        <div class="ride resize butNotHere assigned" style="left: 204px; top: 93px; width:202px">
          <div class="passenger-info complete-add scrolly">
            <ul>
              <li><i class="ion-ios-location-outline"></i> 422 Street, Main Boulevard</li>
            </ul>
          </div>
          <div class="passenger-info scrolly">
            <ul>
              <li><i class="ion-android-person"></i> <strong class="pass-name">Mr. Martin Bros</strong></li>
              <li><i class="ion-ios-telephone-outline"></i> <span class="pass-contact">574-333-589</span></li>
              <li><a class="show-add" href="#" title=""> <i class="ion-ios-location-outline"></i> <span class="pass-loc">422 Street, Main Boulevard</span></a></li>
            </ul>
          </div>
          <div class="driver-info">
            <ul>
              <li><img src="https://picsum.photos/100/100"> <i class="ion-android-person"></i> <strong class="driver-name">John Smith</strong></li>
              <li><i class="ion-ios-clock-outline"></i> <span><i class="hr">02</i>:<i class="mins">02</i>Hours</span></li>
            </ul>
          </div>
        </div><!-- Ride -->

        <div class="grids-row">
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
        </div>
        <div class="grids-row">
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
        </div>
        <div class="grids-row">
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
        </div>
        <div class="grids-row">
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
          <div class="timeslot"> + </div>
        </div>

      </div>
    </div>
    </div>
  </div><!-- Schedular Body -->
</div><!-- console Schedular -->


<div class="ride-menu new-ride">
  <div class="menu-title">
    <h4>New Ride</h4>
    <p>Select Below An Action To Perform</p>
  </div>
  <ul>
    <li><a class="new-ride" data-toggle="modal" data-target="#add-new" href="#" title=""><i class="ion-model-s"></i> Add A New Ride</a></li>
    <li><a data-rideclass="return" class="other-info-btn" href="#" title=""><i class="ion-arrow-return-left"></i> <span>Return To Base</span></a></li>
    <li><a data-rideclass="maintenance" class="other-info-btn" href="#" title=""><i class="ion-settings"></i> <span>Maintenance</span></a></li>
    <li><a data-rideclass="preparation" class="other-info-btn" href="#" title=""><i class="ion-pinpoint"></i> <span>Preparation</span></a></li>
    <li><a data-rideclass="service" class="other-info-btn" href="#" title=""><i class="ion-pull-request"></i> <span>Vehicle Service</span></a></li>
    <li class="bordered"><a href="#" title=""><i class="ion-android-cancel"></i> Cancel</a></li>
  </ul>
</div><!-- New Ride Menu -->


<div class="ride-menu ride-opts">
  <div class="ride-options">
    <ul>
      <li><a class="edit-ride" href="#" title=""><i class="ion-edit"></i> Edit Ride</a></li>
      <li><a class="delete-ride" href="#" title=""><i class="ion-android-remove-circle"></i> Delete Ride</a></li>
    </ul>
  </div><!-- Ride Options -->
</div>



<!-- New Ride  -->
<div class="modal custom-modal" id="add-new">
<div class="modal-dialog">
  <div class="modal-content">
<form class="custom-form" id="add-ride" name="Form">
    <div class="modal-header">
      <div class="modal-title">
        <h4>New Ride</h4>
        <span>Fill The Form Below To Add A New Ride</span>
      </div>
    </div>
    <div class="modal-body">
    <div class="form-group row">
      <label class="col-lg-5 col-md-12  col-form-label">Passenger's Name</label>
      <div class="col-lg-7 col-md-12">
        <input id="pass-name" type="text" class="form-control" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-5 col-md-12  col-form-label">Contact #:</label>
      <div class="col-lg-7 col-md-12">
        <input id="pass-contact" type="text" class="form-control" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-5 col-md-12  col-form-label">Pickup Location:</label>
      <div class="col-lg-7 col-md-12">
        <textarea id="pass-loc" required></textarea>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <button class="custom-btn ride-cancel color2"><i class="ion-android-cancel"></i> Cancel Ride</button>
      <button class="custom-btn add-ride-btn" type="submit"><i class="ion-android-add-circle"></i> Add A Ride</button>
      <button class="custom-btn hidden edit-ride-btn" type="submit"><i class="ion-android-add-circle"></i> Edit Ride</button>
    </div>
</form>
  </div>
</div>
</div>


<!-- Assign Driver  -->
<div class="modal custom-modal" id="assign-driver">
<div class="modal-dialog">
  <div class="modal-content">
<form class="custom-form" id="select-driver">
    <div class="modal-header">
      <div class="modal-title">
        <h4>Assign A Driver</h4>
        <span>Assign Driver To This Ride</span>
      </div>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
    <table class="table driver-selector custom-table style2">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>License</th>
          <th>Weekly Earnings</th>
          <th>Working Days</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="console-driver-img"><img src="https://picsum.photos/100/100" style="width:30px"></td>
          <td class="console-driver" drivername="John Smith">John Smith</td>
          <td>4/5/20</td>
          <td>$345</td>
          <td>Mon-Tues-Wed-Thurs</td>
        </tr>
        <tr>
          <td class="console-driver-img"><img src="https://picsum.photos/100/100" style="width:30px"></td>
          <td class="console-driver" drivername="Bale Disel">Bale Disel</td>
          <td>5/15/19</td>
          <td>$564</td>
          <td>Fri-Sat-Sun</td>
        </tr>
        <tr>
          <td class="console-driver-img"><img src="https://picsum.photos/100/100" style="width:30px"></td>
          <td class="console-driver" drivername="Macelo Benz">Macelo Benz</td>
          <td>12/30/20</td>
          <td>$543</td>
          <td>Mon-Tues-Wed-Thurs</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="modal-footer">
      <a href="#" title="" class="custom-btn cancel-popup color2" data-dismiss="modal"><i class="ion-android-cancel"></i> Cancel</a>
      <button class="custom-btn" type="submit"><i class="ion-android-add-circle"></i> Assign</button>
    </div>
</form>
  </div>
</div>
</div>


<!-- Assign Driver  -->
<div class="modal custom-modal" id="change-ride">
<div class="modal-dialog">
  <div class="modal-content">
<form class="custom-form" id="ride-changer">
    <div class="modal-header">
      <div class="modal-title">
        <h4>Edit Ride</h4>
        <span>Edit The Following Ride</span>
      </div>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
    <div class="form-group row">
      <label class="col-lg-5 col-md-12  col-form-label">Edit This Ride</label>
      <div class="col-lg-7 col-md-12">
        <select class="select change-ride">
          <option value="return">Return</option>
          <option value="maintenance">Maintenance</option>
          <option value="preparation">Preparation</option>
          <option value="service">Service</option>
        </select>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#" title="" class="custom-btn color2" data-dismiss="modal"><i class="ion-android-cancel"></i> Cancel</a>
      <button class="custom-btn" type="submit"><i class="ion-android-add-circle"></i> Edit</button>
    </div>
</form>
  </div>
</div>
</div>





<!-- ================== le style css spécifique à ce fichier EJS ================= -->
<style type="text/css">
  /* pas de style poue les listes  */
  /* ------- récupération ----------------- */
/*===================== TABLE OF CONTENT =======================
1. Fonts
2. General Styling
3. Cross Browser Compatibility

=============================================================*/

/*=============== Fonts ===================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*=============== General Styling ===================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License:none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block}
body{line-height:1.4}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,
q:before, q:after{
    content:'';
    content:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
html{overflow-x:hidden}
body {
    display: flex;
    color: #b3b3b3;
    letter-spacing: 0;
    height: 100vh;
    background: #fafbff;
    align-items: center;
    font-family: 'Poppins';
    overflow-x: hidden;
}
body *{outline:none!important}
h1, h2, h3, h4, h5, h6{
    margin-bottom:20px;
    font-weight:600;
    color:#1c2a35;
}
h1{font-size:36px}
h2{font-size:32px}
h3{font-size:28px}
h4{font-size:24px}
h5{font-size:20px}
h6{font-size:16px}
p{
    font-size:16px;
    line-height:1.8;
    margin-bottom:20px;
}
a{color:inherit}
a:hover,
a:focus{
    text-decoration:none;
    outline:none;
}
input:hover,input:focus{outline:none}
section{
    float:left;
    position:relative;
    width:100%;
}
iframe{
    width:100%;
    border:0;
}
i{font-style:italic}
img{height:auto}
:-webkit-input-placeholder,
:-webkit-textarea-placeholder{opacity:1}
:-moz-placeholder{opacity:1}
:-ms-input-placeholder,
:-ms-textarea-placeholder{opacity:1}
label {
    font-size: 14px;
    color: #777777;
    margin: 0 0 5px;
    font-weight: 500;
}
input[type="file"]{visibility:hidden;display:none}
input[type="text"],
input[type="email"], input[type="file"] ~ label,
input[type="password"], textarea{
    background:#fff;
    border:1px solid #cfdadd;
    color:#b8b8b8;
    font-size:13px;
    height:35px;
    padding:5px 20px;
    width:100%;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
textarea{
    max-width:100%;
    min-height:90px;
    padding:20px;
}
strong{font-weight:800}
button{
    font-size:16px;
    height:35px;
    line-height:35px;
    color:#FFF;
    border:0;
    padding:0 20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
img{max-width:100%}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#b8b8b8;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#b8b8b8;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:#b8b8b8;
}
a:focus, a:hover {
    color: #2d313d;
}
/*=============== Cross Browser Compatibility ===================*/
a,
.custom-btn,
.header-search button,
.sidemenu,
.status-box,
.status-box:before,
.status-box i,
.sm-status,
.sm-status:before,
.sm-status i{
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}


.console-user img{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
}


.console-schedular {
    width: 90%;
    margin: 0 auto;
    background: #FFF;
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.06);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,0.06);
    box-shadow: 0 0 30px rgba(0,0,0,0.06);
}
/*=========== Schedular Filters =============*/
.schedular-filters {
    display: flex;
    margin: 0 0 15px;
}
.vehicle-type{flex-basis: 250px}
.date-changer {
    margin-left: auto;
    display: flex;
    max-width: 260px;
    align-items: center;
    border: 1px solid #f5f6fa;
    border-radius: 3px;
    overflow: hidden;
}
.schedular-body {
    display: grid;
    grid-template-areas: 'grid1 grid2 grid2 grid2 grid2 ';
    min-height: calc(100vh - 305px);
}
.date-changer input.new-datepicker {
    background: #ffffff;
    border: 0;
    margin: 0;
    font-size: 14px;
    height: 40px;
    color: #8a8a8a;
    flex: auto;
    width: 100%;
    border-radius: 0;
}
.date-changer .custom-btn ~ .custom-btn{margin: 0}
.date-changer .custom-btn,
.date-changer .custom-btn:hover,
.date-changer .custom-btn:focus,
.date-changer .custom-btn:active{
    height: 100%;
    border-radius: 0;
    line-height: 28px;
    text-align: center;
    background: #f5f6fa;
    color: #7b7b7b;
}
.date-changer .custom-btn i{margin: 0}
.vehicle-type .select2-container--default .select2-selection--single {
    height: 40px;
    background: #ecf1f2;
    border-color: #ddd;
}
.vehicle-type .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    font-size: 15px;
    color: #8a8a97;
}
.vehicle-type .select2-container--default .select2-selection--single .select2-selection__arrow {height: 40px}
/*=========== Vehicle Information =============*/
.vehicles-info {
    width: 250px;
    background: #f5f6fa;
    overflow: hidden;
    padding: 0 20px;
    margin-right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.vehicles-info h3 {
    background: #edeef2;
    font-size: 16px;
    color: #6f7480;
    font-weight: 400;
    text-align: center;
    padding:13px 10px;
    margin:0 -20px 10px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.car {
    margin: 0 0 10px;
    background: #FFF;
    width: 100%;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 13px rgba(0,0,0,0.06);
    -moz-box-shadow: 0 0 13px rgba(0,0,0,0.06);
    box-shadow: 0 0 13px rgba(0,0,0,0.06);
}
.car-top {
    display: flex;
    width: 100%;
    align-items: flex-end;
}
.car-top span {
    font-size: 12px;
    background:#4786ff;
    padding: 3px 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.car i {
    margin-left: auto;
    font-style: normal;
    font-size: 12px;
    color: #6f7480;
}
.car-bottom {
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.car-bottom h5 {
    font-size: 16px;
    color: #282828;
    margin: 0;
}
.main-schedular {
    background: #f5f6fa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}
/*=========== Timeslot Grids =============*/
.grids-head {
    display: flex;
    margin: 10px;
}
.grids {
    overflow: auto;
    height: 100%;
}
.timeslot:before {
    display:none;
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 80%;
    opacity: 0.7;
    top: 10%;
    background: linear-gradient(transparent,#cdcdcd,transparent);
}
.timeslot {
    min-width: 100px;
    text-align: center;
    position: relative;
    font-size: 12px;
    padding: 11px 10px;
    margin:0 1px;
    background: #FFF;
    cursor:pointer;
}
.grids-row {
    display: flex;
    margin-bottom: 10px;
}
.grids-body {
    margin: 0 10px;
    position: relative;
    width: fit-content;
    width:-moz-fit-content;

}
.grids-row .timeslot {
    line-height: 61px;
    font-size: 20px;
    padding: 10px;
    color: rgba(0,0,0,0.1);
    margin:0 1px;
}
.grids-row .timeslot:hover{color:#999}
.ui-draggable-dragging {
    opacity: 0.8;
    border:1px solid #FFF;
    z-index:2;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.1);
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/*=========== Ride =============*/
.ride {
    width: 100px;
    height: 77px;
    background: #fcedef;
    color: #c26370;
    z-index: 1;
    position: absolute;
    display:flex;
    align-items:center;
    left: 0;
    top: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
.ride:hover{z-index: 10}
.passenger-info ul {
    list-style: none;
    font-size: 12px;
}
.passenger-info ul li {
    margin: 0 0 4px;
    line-height: 1.2;
}
.passenger-info ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.passenger-info ul li strong {
    font-size: 14px;
    font-weight:500;
}
.passenger-info ul li:last-child{margin: 0}
.passenger-info ul li a{color:inherit}
.passenger-info {
    padding: 9px 15px;
    flex-basis: 100%;
    min-width: 90px;
    overflow-x: scroll;
}
.passenger-info ul li i {
    margin-right: 5px;
    font-size: 14px;
}
.assign-driver {
    margin-left: auto;
    padding: 10px 10px 10px 0;
    font-family: barlow;
    min-width: 130px;
    text-align: center;
    flex-basis: auto;
}
.assign-driver span {
    display: table;
    font-size: 13px;
    margin-bottom: 10px;
    width: 100%;
}
.custom-btn {
    font-size: 12px;
    background: #4786ff;
    color: #FFF;
    display: inline-block;
    padding: 5px 10px;
    font-family: poppins;
    height: auto;
    position: relative;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 1.4;
}
.custom-btn i {
    margin-right: 7px;
    font-size: 13px;
    vertical-align: middle;
    font-weight: 800;
}
.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active{color:#FFF}
.short-ride .assign-driver span{display: none}
.short-ride .assign-driver{
    position: absolute;
    top: 50%;
    padding: 0;
    left: 100%;
    z-index:1;
    white-space: nowrap;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.short-ride .passenger-info{width:100%}
.short-ride:hover .assign-driver{opacity:1}
.short-ride .assign-driver .custom-btn:before {
    content: "";
    width: 10px;
    height: 10px;
    background: inherit;
    position: absolute;
    left: -5px;
    top: 9px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ride.assigned {
    background: #caefc8;
    color: #158854;
}
.ride.return {
    background: #fff2be;
    color: #948133;
}
.ride.maintenance {
    background: #f1f3fb;
    color: #8d8f96;
}
.ride.preparation {
    background: #FBF2E9;
    color: #94887c;
}
.ride.service {
    background: #F5F0F0;
    color: #9a9494;
}
.driver-info {
    margin-left: auto;
    background: #FFF;
    margin-right: 5px;
    margin-top: 5px;
    flex-basis:auto;
    margin-bottom: 5px;
    padding:15px 10px 15px 30px;
    position:relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.driver-info ul {
    list-style: none;
    font-size: 12px;
    white-space: nowrap;
}
.driver-info ul li {
    margin: 0 0 4px;
    line-height: 1.2;
}
.driver-info ul li strong {
    font-size: 15px;
    font-weight:500;
}
.driver-info ul li:last-child{margin: 0}
.driver-info ul li i,
.driver-info ul li img{
    margin-right: 5px;
    font-size: 14px;
    font-style: normal;
}
.driver-info ul li img {
    width: 35px;
    position: absolute;
    left: -14px;
    border: 2px solid #FFF;
    top: 50%;
    margin-top: -18px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.short-ride .driver-info{
    position: absolute;
    left: 100%;
    top: 0;
    opacity:0;
    visibility:hidden;
    z-index:2;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.short-ride:hover .driver-info{
    opacity:1;
    visibility:visible;
}
.short-ride .driver-info:before {
    content: "";
    position: absolute;
    left: -5px;
    top: 30px;
    width: 10px;
    height: 10px;
    background: #FFF;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.passenger-info.complete-add {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
     display: none;
    height: 100%;
    z-index:1;
    background: inherit;
    font-weight: 500;
    min-width: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.passenger-info.complete-add ul li {
    margin: 0;
    max-width: none;
    text-overflow: unset;
    overflow: visible;
    white-space: unset;
}
.ride-menu{
    position:absolute;
    left:0;
    top:0;
    visibility:hidden;
    opacity:0;
    z-index:11;
    background: #FFF;
    width: 234px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.ride-menu.show{
    opacity:1;
    visibility:visible;
}
.menu-title {
    background: linear-gradient(to right, #6ec0fe,#1386de);
    padding:8px 15px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.menu-title h4 {
    color: #FFF;
    margin: 0 0 2px;
    font-family: barlow;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.menu-title p {
    margin: 0;
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    display:none;
}
.ride-menu ul {
    list-style: none;
    padding:10px 0 0;
    font-size: 14px;
    color: #9ea4b0;
}
.ride-menu ul li {
    font-size: 14px;
}
.ride-menu ul li a {
    padding:5px 20px;
    width: 100%;
    display: inline-block;
}
.ride-menu ul li i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 6px;
}
.ride-menu ul li.bordered{border-top: 1px solid #e2e8f1}
.ride-menu ul li a:hover{background: #e2e8f1}
.ride-options ul{padding: 10px 0}
.other-info {
    padding: 5px;
    width: 100%;
    text-align: center;
    line-height: 1;
}
.other-info i {
    display: block;
    font-size: 21px;
    line-height: 1;
}
.other-info span {
    font-size: 14px;
    line-height: 1.3;
    margin: 5px 0 0;
    display: block;
}
.hidden{display:none}
.short-ride-info {
    position: absolute;
    margin-top: 0px;
    left:0;
    color: currentColor;
    top: 100%;
    width: auto;
    display: flex;
    background: #FFF;
    padding: 10px 20px;
    white-space: nowrap;
    opacity:0;
    z-index:1;
    visibility:hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.short-ride:hover .short-ride-info{
    opacity:1;
    visibility:visible;
}
.short-ride-info ul {
    list-style: none;
    font-size: 13px;
    max-width:270px;
    white-space:normal;
    width:max-content;
}
.short-ride-info:before {
    content: "";
    position: absolute;
    left:20px;
    width: 10px;
    height: 10px;
    top: -5px;
    background: inherit;
    margin-left: -5px;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.short-ride-info ul li strong {
    font-weight: 500;
    font-size: 14px;
}
.droppable{
    width:calc(100% - 20%);
    height:calc(100% - 20%);
    position:absolute;
    left:10%;
    top:10%;
    z-index:2;
}
/*=========== Custom Modal =============*/
.custom-modal .modal-header{
    background: linear-gradient(to right, #1386de,#6ec0fe);
    padding:12px 20px;
    border: 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.custom-modal .modal-title{line-height: 1}
.custom-modal .modal-title h4 {
/*    margin: 0 0 10px;*/
    color: #FFF;
    margin:0;
    font-size: 25px;
    font-weight: 500;
    font-family: barlow;
}
.custom-modal .modal-title span {
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    font-family: barlow;
    display: none;
}
.custom-modal .modal-body {
    max-height: calc(100vh - 210px);
    overflow: auto;
}
.modal.custom-dialog {
    align-items: center;
    display: flex!important;
}
.custom-modal .modal-dialog {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}
.modal-content {
    flex: 1;
    width: 100%;
    border:0;
}
.custom-form .form-group input,
.custom-form .form-group input:focus,
.custom-form .form-group textarea,
.custom-form .form-group textarea:focus {
    margin: 0;
    background: #f5f6fa;
    align-items: center;
    font-family:poppins;
    border: 1px solid #ebecf1;
    font-size: 12px;
    color: #a8a8aa;
    padding: 10px 10px;
}
.custom-form .form-group textarea {
    min-height: 100px;
}
.custom-form .col-form-label {
    color: #8c8c8c;
    font-size: 15px;
    font-weight: 400;
}
.custom-form .form-group textarea {
    min-height: 100px;
    padding: 10px;
}
.custom-modal .modal-footer{
    background: #f5f6fa;
    padding:10px 10px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.color2{background-color:#ce5263!important}
.custom-form .select2-container{width: 100%!important}
.custom-modal .select2-container--default .select2-selection--single {
    border-color: #ebecf1;
    background: #f5f6fa;
    border-radius: 2px;
    height: 35px;
}
.custom-modal .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
    color: #a8afb1;
    padding: 0px 10px;
    font-size: 13px;
}
.custom-modal .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px;
}
/*=== Custom Table ===*/
.table-container {
    width: 100%;
    overflow: auto;
    padding: 2px 1px;
}
table.custom-table {
    font-size: 15px;
    width: 100%!important;
    min-width:500px;
    border: 1px solid #d6d6d6;
}
.custom-table thead {
    background: #ebebeb;
    font-size: 15px;
    color: #2d313d;
    font-weight: 500;
}
.custom-table thead th {
    padding: 12px;
    white-space: nowrap;
}
.custom-table thead tr.bordered th{border-right: 1px solid #d6d6d6}
.custom-table thead tr{border-bottom: 1px solid #FFF}
table.custom-table td {
    color: #777777;
    padding: 20px 10px;
    border: 1px solid #d6d6d6;
    vertical-align: middle;
    font-size: 12px;
    min-width:83px;
}
table.custom-table td i {
    font-style: normal;
    display: block;
}
table.custom-table tr:nth-child(odd) {background: #f0f1f0}
td input {
    margin: 0;
}

.action {
    display: flex;
    align-items: center;
}
/*.custom-table select {
    margin: 0 2px;
    height: 23px;
    border-radius: 20px;
    color: #777777;
    border: 1px solid #e0e1e0;
    padding: 0 6px;
}
*/.action .select2 .select2-selection {
    height: 23px;
    border: 1px solid #e0e1e0;
}
.action .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
}
.action .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 23px;
}
.custom-table td .action input{
    height: 22px;
    font-size: 12px;
    padding: 0 10px;
    margin: 0 2px;
    width: auto;
    min-width: 0;
}
.custom-table .action input{width:72px}
.custom-table .action input {color: #777777}
a.td-icon {
    margin: 0 6px;
    font-size:20px;
    color: #cfcfcf;
}

.custom-table.style2 thead th {
    padding: 10px;
    font-weight: 500;
    color: #6b8282;
    border: 0;
}

table.custom-table.style2 {
    font-size: 12px;
    min-width: 300px;
    margin: 0;
    border: 1px solid #efefef;
}

table.custom-table.style2 thead {
    font-size: 13px;
    background: #f8f9f9;
}

table.custom-table.style2 thead tr {
    background: none;
}

table.custom-table.style2 td {
    padding: 6px 10px;
    font-size: 12px;
    border: 1px solid #efefef;
}

table.custom-table.style2 tbody tr:nth-child(odd) {
    background: #f8f9f98c;
}

table.custom-table.style2 tbody tr.selected {
    background: #b4defd!important;
}

table.custom-table.style2 tbody tr.selected td {
    border-color: #67bdff;
    color: #198ae0;
}



@media (max-width:1230px){
.custom-table thead {
    font-size: 13px;
}
table.custom-table td {
    font-size: 11px;
    min-width: 20px;
    width: 100px;
    word-break: break-all;
}

.login-form{ width: 970px }
.login-left{ padding: 20px 40px }
a.custom-btn.style2,a.custom-btn.style3{ min-width: 140px; padding: 12px 20px }
}

@media (max-width:980px){
.layout-wrapper {
    padding-left: 60px;
    position: relative;
    float: left;
    width: 100%;
    display: unset;
}
.sidemenu {
    position: absolute;
    left: 0;
    z-index:2;
    height: 100%;
}

.login-form{ margin: 15px 15px; display: unset }
p.login-note { margin: 40px 0 0}
.login-right{ width: 100%; float: left }
.login-right img { width: 100% }
}


@media (max-width:767px){
.content-area{padding:10px;}
.header-dropdown > a {width: 100%;height: 50px;line-height: 50px;}
.layout-wrapper{padding-left: 40px}
.sidemenu.active {width: 40px; min-width: 40px}
.sidemenu.active nav ul li a {padding: 7px 13px}
.content-area > .row > div{margin:0 0 10px;}
.sidemenu.active .limo-user {
    padding: 30px 5px 10px;
}
.sidemenu.active .limo-user .user-img {
    min-width: 30px;
}
header {
    display: unset;
    background: #FFF;
    float: left;
    width: 100%;
}

.notifications.has-ddl {
    float: left;
}
.notifications .ddl {
    z-index:100;
    left:0;
}

.header-dropdown.has-ddl {
    width: 100%;
}

.bottom{display: unset}
.bottom > div{float: left!important; width: 100%; text-align: left!important; margin: 0 0 10px}
div#DataTables_Table_0_info {text-align: left}
div#DataTables_Table_0_length {margin: 0 0 10px}
.dataTables_paginate span {width: 100%; margin: 10px 0 10px}
.bottom-bar {
    display: unset;
    text-align: center;
    display: inline-block;
    padding: 15px 10px;
    width:100%;
}

.bottom-bar span {
    display: inline-block;
    width: 100%;
}
}

@media (max-width:480px){
.login-left { padding: 20px }
.login-left h4 { font-size: 25px }
.login-left p { font-size: 13px }
.field{ padding: 6px 10px }
.login-credentials { margin: 0 0 30px }
.form-help { display: table; width: 100% }
.remember { margin: 0 0 10px }
}


  /* ------------ r ----------------------- */

</style>













<!-- ================== le script spécifique à ce fichier EJS ================= -->
<script>
  // SELECTEURS (de balises)
  const questionContainer = document.querySelector('.click-event');
  const bouton1 = document.querySelector('#btn-1');
  const bouton2 = document.getElementById('btn-2');

  // --

	$(window).on("load", function() {



function ride(){
  /*=== Draggable Box ===*/
$(".resize").draggable({
  axis: "x,y",
  animate: true,
  grid: [ 102,91],
  containment:'.grids-body',
  scroll:true,
  revert: "valid",
  refreshPositions: true,
  start: function(event,ui) {
  },
  stop: function(event,ui) {

  }
});

/*=== Droppable ===*/
$( ".ride" ).droppable({
  tolerance: "touch"
});


var targetPos = [];
var sp = "";					
/*=== Resizable Box ===*/
$(".resize").resizable({
  grid: [ 102, 0 ],
  animate: false,
  handles: 'e',
  containment:'.grids-body',
  maxHeight:77,
  minHeight:77,
  start: function(event, ui){ 
    targetPos = [];
    $('.ride').each(function(){
      targetPos.push($(this).position());
    });
    sp = ui.position.left + ui.size.width;
  },
  stop: function(event, ui){ 
    var ep = ui.position.left + ui.size.width;
    var tp = ui.position.top;
    $.each(targetPos, function(i,e){
      if(targetPos[i].top == tp){
        if(targetPos[i].left > sp && targetPos[i].left < ep){
          ui.element.css(ui.originalSize);
          setTimeout(function(){
            detectShortRides();
          },100);
        }
      }
    });

  }

});


$( ".resize" ).on( "resizestop", function( event, ui ){
  if(ui.size.width <= 204){
    $(this).addClass("short-ride");
  }
  else{
    $(this).removeClass("short-ride");
  }
  setTimeout(function(){
    RideTime(ui.element[0]);
  },400);
});


function detectShortRides(){
  $(".ride").each(function(){
    if($(this).width() <=  204){
      $(this).addClass("short-ride");
    }
    else{
      $(this).removeClass("short-ride");
    }
  });
}
detectShortRides();


$(".show-add").on("click",function(){
  $(this).parents('.ride').find('.complete-add').fadeIn();
});

$(".complete-add").on("click",function(){
  $(this).fadeOut();
});
}
ride();

/*=== New Ride Menu ===*/
$("html").on("click",function(event){
if($(event.target).is(".grids-body .timeslot")){
      $("#add-ride .modal-title h4").text('New Ride');
  $("#pass-name").val("");
  $("#pass-contact").val("");
  $("#pass-loc").val("");
  $("#add-ride .add-ride-btn").show();
  $("#add-ride .edit-ride-btn").hide();

  $(".ride-opts").removeClass("show");
  $(".new-ride").addClass("show");
  let left = $(event.target).offset().left;
  let top = $(event.target).offset().top;
  $(".new-ride").css({
    "left":left + 50,
    "top":top + 30
  });
}
else{
  $(".ride-opts").removeClass("show");
  $(".new-ride").removeClass("show");
  $(".new-ride").css({
    "left":0,
    "top":0
  });
}
});

/*=== Menu On Right For Edit Or Delete A Ride ===*/
document.oncontextmenu = function() { return false; };
$("body").on("mousedown",".grids-body .ride",function(e){
if( e.button == 2 ) {
  $(".new-ride").removeClass("show");
  $(".ride").removeClass("selected");
  $(this).addClass("selected");
  $(".ride-opts").addClass("show");
  let left = $(this).offset().left;
  let top = $(this).offset().top;
  $(".ride-opts").css({
    "left":left + 50,
    "top":top + 30
  });
  return false;
}
return true;
});

/*=== Delete Ride ===*/
$(".delete-ride").on("click",function(){
$(".ride.selected").detach();
});

/*=== Edit Ride Popup Open ===*/
$(".edit-ride").on("click",function(){
if($(".ride.selected").hasClass('maintenance') || $(".ride.selected").hasClass('preparation') || $(".ride.selected").hasClass('return') || $(".ride.selected").hasClass('service')){
  $("#change-ride").modal('show');
    $('.change-ride').val('service').trigger('change');
}
else{
  $("#add-new").modal('show');
  let name = $(".ride.selected .passenger-info .pass-name").text();
  let contact = $(".ride.selected .passenger-info .pass-contact").text();
  let loc = $(".ride.selected .passenger-info .pass-loc").text();
  $("#add-ride #pass-name").val(name);
  $("#add-ride #pass-contact").val(contact);
  $("#add-ride #pass-loc").val(loc);
  $("#add-ride .modal-title h4").text('Edit Ride');
  $("#add-ride .add-ride-btn").hide();
  $("#add-ride .edit-ride-btn").show();
}
});



/*=== Ride Changer ===*/
$("#ride-changer").submit(function(){
let changedRide = $('.change-ride').select2('data')[0].element.value;
let rideName = $('.change-ride').select2('data')[0].text;
$(".ride.selected .other-info span").html(rideName);
if(rideName == 'Return'){
  $(".ride.selected .other-info i").attr('class','ion-arrow-return-left');
}
if(rideName == 'Maintenance'){
  $(".ride.selected .other-info i").attr('class','ion-settings');
}
if(rideName == 'Preparation'){
  $(".ride.selected .other-info i").attr('class','ion-pinpoint');
}
if(rideName == 'Service'){
  $(".ride.selected .other-info i").attr('class','ion-pull-request');
}
$(".ride.selected").attr('class',"ride resize butNotHere " + changedRide);
$("#change-ride").modal('hide');
return false;
});

/*=== New Ride Menu Open Position ===*/
var myposleft;
var mypostop;
$(".timeslot").on("click",function(){
    myposleft = $(this).offset().left - $(".grids-body").offset().left - 1;
    mypostop = $(this).offset().top - $(".grids-body").offset().top + 2;
});

/*=== Add New Ride On Submit Popup Form ===*/
$('#add-ride').submit(function(){
// Get Values Filled in the Form
let name = $("#pass-name").val();
let contact = $("#pass-contact").val();
let date = $("#pass-date").val();
let loc = $("#pass-loc").val();
// If New Ride
if($(".custom-btn:focus").hasClass("add-ride-btn")){
      $(".grids-body").prepend(`
          <div class="ride resize butNotHere" style="left:${myposleft}px; top:${mypostop}px">
              <div class="passenger-info complete-add scrolly">
                  <ul>
                      <li><i class="ion-ios-location-outline"></i>${loc}</li>
                  </ul>
              </div>
              <div class="passenger-info scrolly">
                  <ul>
          <li><i class="ion-android-person"></i> <strong class="pass-name">${name}</strong></li>
          <li><i class="ion-ios-telephone-outline"></i> <span class="pass-contact">${contact}</span></li>
          <li><a class="show-add" href="#" title=""> <i class="ion-ios-location-outline"></i> <span class="pass-loc"> ${loc}</span></a></li>
                  </ul>
              </div>
              <div class="assign-driver">
                  <span>Driver Not Assigned</span>
                  <a class="custom-btn" data-toggle="modal" data-target="#assign-driver"  href="#" title=""><i class="ion-android-person-add"></i> Assign Driver</a>
              </div>
      <div class="short-ride-info">
        <ul>
          <li><i class="ion-android-person"></i> <strong class="pass-name">${name}</strong></li>
          <li><i class="ion-ios-telephone-outline"></i> <span class="pass-contact">${contact}</span></li>
          <li><a class="show-add" href="#" title=""> <i class="ion-ios-location-outline"></i> <span  class="pass-loc">${loc}</span></a></li>
        </ul>
      </div>
          </div>
      `);
      ride();
  customScroll();

      $("#add-new").modal('hide');
      return false;
  }
// If Edit Ride
  else if($(".custom-btn:focus").hasClass("edit-ride-btn")){
    $(".ride.selected .pass-name").text(name);
    $(".ride.selected .pass-contact").text(contact);
    $(".ride.selected .pass-loc").text(loc);

    $(".ride.selected").removeClass('selected');
  $("#pass-name").val("");
  $("#pass-contact").val("");
  $("#pass-loc").val("");
  $("#add-new").modal('hide');
  $("#add-ride .edit-ride-btn").hide();
  $("#add-ride .add-ride-btn").show();
      $("#add-ride .modal-title h4").text('New Ride');
  return false;
}
});

/*=== Ride Cancel ===*/
$(".ride-cancel").on("click",function(){
  $(".ride.selected").removeClass('selected');
$("#pass-name").val("");
$("#pass-contact").val("");
$("#pass-loc").val("");
$("#add-new").modal('hide');
});


/*=== Return To Base ===*/
$(".other-info-btn").on("click",function(){
  let iconClass = $(this).find('i').attr("class");
  let text = $(this).find('span').text();
  let rideClass = $(this).attr('data-rideclass');
$(".grids-body").prepend(`
  <div class="ride resize butNotHere ${rideClass}" style="left:${myposleft}px; top:${mypostop}px">
    <div class="other-info">
      <i class="${iconClass}"></i>
      <span>${text}</span>
    </div>
  </div>`);
    ride();
    $(".new-ride").removeClass("show");
    return false;
});



/*=== Select Ride To Assign Driver ===*/
$('body').on("click",'a[data-target="#assign-driver"]',function(){
  $(this).parents('.ride').addClass('assign-to-me');
    $(".driver-selector tr").removeClass('selected');
});


$("body").on("click",".driver-selector tr",function(){
  $(this).addClass('selected').siblings().removeClass('selected');
});

/*=== Select Driver ===*/
$("#select-driver").submit(function(){
  // let selectedDriver = $('.all-driver').select2('data')[0].text;
  // let selectedDriver = $("#new-driver").val();
  // let driverImage = $(".inputpicker-wrapped-list .table>tbody>tr>td img").attr('src');
  let selectedDriver = $(".driver-selector tr.selected td.console-driver").text();
  let driverImage =  $(".driver-selector tr.selected td.console-driver-img img").attr('src');
  $(".assign-to-me .assign-driver").detach();
  $(".assign-to-me").append(`
<div class="driver-info">
  <ul>
    <li><img src="${driverImage}"> <i class="ion-android-person"></i> <strong class="driver-name">${selectedDriver}</strong></li>
    <li><i class="ion-ios-clock-outline"></i> <span><i class="hr">02</i>:<i class="mins">02</i>Hours</span></li>
  </ul>
</div>`);

RideTime(".assign-to-me");

  $(".assign-to-me").addClass('assigned').removeClass('assign-to-me');

  if($('.ride').hasClass('change-driver')){
    $(".change-driver .driver-info .driver-name").html(selectedDriver);
    $(".change-driver .driver-info ul li img").attr('src',driverImage);
    $(".change-driver").removeClass('change-driver');
    $("#assign-driver .modal-header .modal-title h4").text('Assign A Driver');
  }

    $("#assign-driver").modal('hide');
    return false;
});


/*=== Cancel Popup ===*/
$(".cancel-popup").on("click",function(){
$(".change-driver").removeClass('change-driver');
});


/*=== Change Driver ===*/
$("body").on("click" , ".driver-info" , function(){
  $(this).parents('.ride').addClass('change-driver');
  let thisDriver = $(this).find('.driver-name').text();
  $("#assign-driver .modal-header .modal-title h4").text('Change The Driver');
  $("#assign-driver").modal('show');
  $(".driver-selector tr").removeClass('selected');
  console.log($(`td[drivername='${thisDriver}']`));
  $("td[drivername='" + thisDriver + "']").parents('tr').addClass('selected');
});


/* ===  Add Short Ride Info To Each Ride === */
$(".ride").each(function(){
  if($(this).hasClass('return') || $(this).hasClass('maintenance') || $(this).hasClass('preparation') || $(this).hasClass('service')){
    return true
  }
  else{
    // Add Short Ride Info To Each Ride
  let name = $(this).find(".passenger-info .pass-name").text();
  let contact = $(this).find(".passenger-info .pass-contact").text();
  let loc = $(this).find(".passenger-info .pass-loc").text();
  $(this).append(`<div class="short-ride-info">
    <ul>
      <li><i class="ion-android-person"></i> <strong class="pass-name">${name}</strong></li>
      <li><i class="ion-ios-telephone-outline"></i> <span  class="pass-contact">${contact}</span></li>
      <li><i class="ion-ios-location-outline"></i> <span class="pass-loc">${loc}</span></li>
    </ul>
  </div>`);
  RideTime(this);
  }
});


// Update Driver Time For the Assigned Drive
function RideTime(thisRide){
let rideWidth  = $(thisRide).width();
let updateTime = convertPixelToTime(rideWidth);

function pad2(number) {
     return (number < 10 ? '0' : '') + number
}



$(thisRide).find(".driver-info .hr").text(pad2(updateTime.h));
$(thisRide).find(".driver-info .mins").text(pad2(updateTime.m));
}




/* ===  Convert Mili Seconds Hours === */
function convertMiliseconds(miliseconds, format) {
var days, hours, minutes, seconds, total_hours, total_minutes, total_seconds;

total_seconds = parseInt(Math.floor(miliseconds / 1000));
total_minutes = parseInt(Math.floor(total_seconds / 60));
total_hours = parseInt(Math.floor(total_minutes / 60));
days = parseInt(Math.floor(total_hours / 24));

seconds = parseInt(total_seconds % 60);
minutes = parseInt(total_minutes % 60);
hours = parseInt(total_hours % 24);

switch(format) {
case 's':
return total_seconds;
break;
case 'm':
return total_minutes;
break;
case 'h':
return total_hours;
break;
case 'd':
return days;
break;
default:
return { d: days, h: hours, m: minutes, s: seconds };
//return { h: hours, m: minutes}
}
};

function convertPixelToTime(pixels){
let onePx = 17647.05882352941;
return convertMiliseconds(pixels * onePx);
}


setTimeout(function(){
$(".xdsoft_today").trigger('click');
},1000);


/* === Date Time Picker == */
jQuery('.new-datepicker').datetimepicker({
validateOnBlur: false,
timepicker:false,
//format:'D, M d,Y',
format: 'M-d-Y',
value: new Date(),
defaultDate:false,
onSelectDate:function(dp,$input){
}    
});

jQuery('.datetimepicker').datetimepicker({
validateOnBlur: false,
format:'m-d-Y h:i A',
value: new Date()
});

jQuery('.timepicker').datetimepicker({
validateOnBlur: false,
datepicker:false,
format:'h:i A',
value: new Date()
});



var month = new Array();
month[0] = "Jan";
month[1] = "Feb";
month[2] = "Mar";
month[3] = "Apr";
month[4] = "May";
month[5] = "Jun";
month[6] = "Jul";
month[7] = "Aug";
month[8] = "Sep";
month[9] = "Oct";
month[10] = "Nov";
month[11] = "Dec";


$(".nextDate").on("click",function(){
let a = $(".new-datepicker").val();
let newDate = new Date(new Date(a).getTime()+(1*24*60*60*1000));
let date = newDate.getDate();
let tempMonth = month[newDate.getMonth()];
let year = newDate.getFullYear();
console.log(newDate);
$(".new-datepicker").val(tempMonth + "-" + date  + "-" + year);
return false;
});

$(".prevDate").on("click",function(){
let a = $(".new-datepicker").val();
let newDate = new Date(new Date(a).getTime()-(1*24*60*60*1000));
let date = newDate.getDate();
let tempMonth = month[newDate.getMonth()];
let year = newDate.getFullYear();
console.log(newDate);
$(".new-datepicker").val(tempMonth + "-" + date  + "-" + year);
return false;
});    

/*=== Select2 ===*/
$('.select,.bottom select').select2({
  placeholder: 'Select an option'
});    

customScroll();

});


function customScroll(){
$(".scrolly").mCustomScrollbar({
  axis:"y",
  theme:"light-3",
  scrollbarPosition:"outside"
});

}


  // --






</script>